on boot
    # Panel backlight
    chown system system /sys/class/leds/wled:backlight/brightness
    chmod 660 /sys/class/leds/wled:backlight/brightness

    # LED
    chown system system /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_red/lut_pwm
    chown system system /sys/class/leds/led:rgb_red/step_duration
    chown system system /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_green/lut_pwm
    chown system system /sys/class/leds/led:rgb_green/step_duration
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/lut_pwm
    chown system system /sys/class/leds/led:rgb_blue/step_duration
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chmod 660 /sys/class/leds/led:rgb_red/brightness
    chmod 660 /sys/class/leds/led:rgb_red/lut_pwm
    chmod 660 /sys/class/leds/led:rgb_red/step_duration
    chmod 660 /sys/class/leds/led:rgb_green/brightness
    chmod 660 /sys/class/leds/led:rgb_green/lut_pwm
    chmod 660 /sys/class/leds/led:rgb_green/step_duration
    chmod 660 /sys/class/leds/led:rgb_blue/brightness
    chmod 660 /sys/class/leds/led:rgb_blue/lut_pwm
    chmod 660 /sys/class/leds/led:rgb_blue/step_duration
    chmod 660 /sys/class/leds/rgb/sync_state
    chmod 220 /sys/class/leds/rgb/start_blink

    # PM8941 flash
    chown system camera /sys/class/misc/pm8941-flash/device/current1
    chown system camera /sys/class/misc/pm8941-flash/device/current2
    chown system camera /sys/class/misc/pm8941-flash/device/fault_status
    chown system camera /sys/class/misc/pm8941-flash/device/flash_timer
    chown system camera /sys/class/misc/pm8941-flash/device/mode
    chown system camera /sys/class/misc/pm8941-flash/device/strobe

    # Glove input
    chown system system /sys/devices/virtual/input/max1187x/glove
    chmod 0660 /sys/devices/virtual/input/max1187x/glove

    # Tap to wake
    chown system system /sys/devices/virtual/input/max1187x/power/wakeup
    chmod 0660 /sys/devices/virtual/input/max1187x/power/wakeup
